---
---

/* import Bootstrap */
@import "bootstrap/bootstrap";

/* custom styles */
h1:not(.display-1) { /* excludes display-1 from this style */
	text-align: center;
	text-transform: uppercase;
}

h6 {
	display:inline;
	margin-left: 0.5em;
}

.display-1 {
	font-size: 750%;
}